.Opportunities {
  &__item {
    position: relative;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;

    &-wrapper {
      padding: 16px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f9f9f9;
        border-radius: 8px;
      }
    }
    &-icon {
      position: absolute;
      left: 25px;
      display: flex;
    }
    &-img {
      img {
        border-radius: 6px;
      }
    }
    &-title {
      font-weight: 700;
      font-size: 16px;
    }
    &-info {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 14px;
      color: #4a4a4a;
      opacity: 0.75;
    }
    &-desc {
      color: #6b7586;
      font-size: 16px;
      line-height: 24px;
      width: 75%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 14px;
      height: 50px;
    }
    &-company {
      display: flex;
      align-items: center;
      &-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
      }
      &-name {
        font-size: 14px;
        color: #4a4a4a;
        opacity: 0.75;
        display: inline-flex;
        align-items: center;
      }
    }
  }
  &__header {
    padding: 8px;
    border-bottom: 1px solid #ececec;
    color: #6b7586;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-result {
    }
    &-sort {
      & > span {
        display: inline-block;
      }
      .ant-select-selector {
        border: none !important;
      }
    }
  }
}
